{% extends "main/base.html" %}
{% load static %}
{% block title %} course student add{% endblock title %}
{% block content %}

<div class="container mt-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'courses' %}" class="text-decoration-none">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'course_students' course.id  %}" class="text-decoration-none">Course Students</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course.name }} kursga student qo'shish</li>
        </ol>
    </nav>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
       <div class="mb-3">
           <select id="student" class="form-select" name="student">
                <option value="" disabled selected>Studentni tanlang</option>
                {% for student in students %}
                    <option value="{{ student.student.id }}">{{ student.student.user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Start date</label>
            <input type="date" name="start_date" class="form-control">
        </div>
        <button class="btn btn-outline-success" type="submit">Save</button>
        <a class="btn btn-outline-primary" href="{% url 'course_students' course.id %}">Cancel</a>
    </form>
</div>
{% endblock content %}