{% extends "main/base.html" %}
{% load static %}
{% block title %} {{ student.username }} edit {% endblock title %}
{% block content %}
<div class="container mt-5">
     <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="{% url 'courses' %}" class="text-decoration-none">Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course_students' course_id=course_student.course.id %}" class="text-decoration-none">Course Students</a></li>
            <li class="breadcrumb-item"><a href="{% url 'student_detail' course_id=course_student.course.id student_id=course_student.student.id %}" class="text-decoration-none">{{ course_student.student.user.username }} student detail</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ course_student.student.user.username }} student update
            </li>
        </ol>
    </nav>
    <div class="d-flex justify-content-center mb-3">
        <h1>{{ course_student.student.user.username }} student update </h1>
    </div>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" value="{{ form.username.value }}">
        </div>
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" name="first_name" value="{{ form.first_name.value }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" name="last_name" value="{{ form.last_name.value }}">
        </div>
        <div class="input-group mb-3">
            <div class="w-100">
                <label for="id_image" class="form-label fw-bold">Image*</label>
                {% if form.instance.image %}
                    <p class="mb-2">
                        Currently: <a href="{{ form.instance.image.url }}" class="text-primary">{{ form.instance.image.name }}</a>
                    </p>
                {% endif %}
                <input type="file" name="image" id="id_image" class="form-control">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" name="address" value="{{ form.address.value }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" value="{{ form.email.value }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Birth day</label>
            <input type="date" class="form-control" name="birth_date" value="{{ form.birth_date.value |date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" name="phone_number" value="{{ form.phone_number.value }}">
        </div>

    <div class="modal-footer text-left">
        <a class="btn btn-secondary"
            href="{% url 'student_detail' course_id=course_student.course.id student_id=course_student.student.id %}">Back</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
</div>


{% endblock content %}