asgiref==3.8.1
crispy-bootstrap5==2024.10
Django==5.1.2
django-crispy-forms==2.3
django-phonenumber-field==8.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
phonenumbers==8.13.48
pillow==11.0.0
python-decouple==3.8
sqlparse==0.5.3
tzdata==2024.2
