{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} feedbacks {% endblock title %}
{% block content %}
<div class="container mt-5">

     <style>
        body {
            background-color: #f8f9fa;
        }
        .feedback-card {
            border-left: 5px solid #007bff;
            padding: 15px;
            margin: 10px 0;
            background: #fff;
            border-radius: 8px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
        .feedback-header {
            font-weight: bold;
            font-size: 1.2rem;
            color: #007bff;
            margin-bottom: 10px;
        }
        .feedback-info {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .feedback-info p {
            flex: 1 1 45%;
            background: #eef2ff;
            padding: 8px;
            border-radius: 5px;
        }
    </style>

    <h1 class="text-center">Ma'lumot so‘rov shakli</h1>
    <p class="text-center">Iltimos, so‘rovingizni tez va aniq qayta ishlashimiz uchun ushbu shaklni to‘liq to‘ldiring.
Qo‘shimcha savol yoki fikr-mulohazalaringiz bo‘lsa, bizga xabar bering. Fikringiz biz uchun muhim!</p>

    {% if is_sended %}
    {% else %}
    <form method="post">
        {% csrf_token %}
        <!-- Title -->

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Type a placeholder" name="title">
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Type a placeholder"
                      name="description"></textarea>
        </div>

        <!-- Type -->
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select name="type" id="type" class="form-select">
                {% for value, label in type_feedbacks %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>


        <!-- Page Name -->
        <div class="mb-3">
            <label for="pageName1" class="form-label">Page Name</label>
            <input type="text" class="form-control" id="pageName1" placeholder="Type a placeholder" name="page_name">
        </div>


        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
    {% endif %}


   <!-- Testimonial Start -->
<div class="container-fluid py-5">
         <h2 class="text-center text-primary">Fikr-Mulohazalar</h2>
        <p class="text-center">Foydalanuvchilarning fikrlari biz uchun muhim.</p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#feedback-list" aria-expanded="false" aria-controls="feedback-list">
            Fikr-Mulohazalarni Ko‘rsat
        </button>
        {% for feedback in feedbacks %}
        <div id="feedback-list" class="collapse mt-3">
            <div class="feedback-card">
                <div class="feedback-header">{{ feedback.title }}</div>
                <div class="feedback-info">
                    <p><strong>Turi:</strong> {{ feedback.type }}</p>
                    <p><strong>Sahifa nomi:</strong> {{ feedback.page_name }}</p>
                    <p><strong>Yaratilgan sana:</strong>{{ feedback.created_at | feedback_timestamp }}</p>
                    <p><strong>Holati:</strong> {{ feedback.status }}</p>
                    {% if feedback.resolved_at %}
                    <p><strong>Hal qilingan sana:</strong>{{ feedback.resolved_at | feedback_timestamp }}</p>
                    {% else %}
                    <p><strong>Hal qilingan sana:</strong> -</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- Testimonial End -->
</div>
{% endblock content %}
