{% extends "main/base.html" %}
{% load static %}
{% block title %} profile {% endblock title %}
{% block content %}

<div class="container mt-5">
    <div class="container mt-5">

        <h2 class="text-center">Profile</h2>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">edit</button>
        </div>
        <div class="d-flex justify-content-center text-center">
            <div>
                <span class="position-absolute"
                    style="margin: 1% 5%; border-radius: 10px; background-color: grey; color: white;"><i
                        class="bi bi-person" style="color: white;"></i>
                    username</span>
                <div style=" width:300px; height: 300px; border-radius: 50%; overflow: hidden; object-fit: cover;">
                    <img style="width: 100%;" src="/static/img/student_image.jpg" alt="">
                </div>
                <div>
                    <h1>Alexa Rawles</h1>
                </div>
            </div>
        </div>
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Full name</label>
                <input type="text" class="form-control" id="inputEmail4" value="Alexa" disabled="">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Birth date</label>
                <input type="date" class="form-control" id="inputPassword4">
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputAddress">
            </div>
            <!-- <div class="col-md-6">
                <label for="inputAddress" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputAddress">
            </div> -->
            <div class="col-md-6">
                <label for="inputAddress2" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress2">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Phone number</label>
                <input type="number" class="form-control" id="inputCity">
            </div>
        </form>

        <div class="list-group mt-5">
            <h1 class="text-center">Course lists</h1>
            <div class="list-group-item list-group-item-action d-flex justify-content-between">
                <p>A second link item</p>
                <p style="color: lightseagreen;">12</p>
            </div>
            <div class="list-group-item list-group-item-action d-flex justify-content-between">
                <p>A second link item</p>
                <p style="color: lightseagreen;">12</p>
            </div>
            <div class="list-group-item list-group-item-action d-flex justify-content-between">
                <p>A second link item</p>
                <p style="color: lightseagreen;">12</p>
            </div>
        </div>

        <div class="mt-5">
            <h3 class="text-center">Requests to join </h3>
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Student lists
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Course</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for join_request in join_requests %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ join_request.student.user.username }}</td>
                                        <td>{{ join_request.course.name }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>

{% endblock content %}